@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 100% 92%;
    --foreground: 209 100% 10%;
    --card: 209 100% 96%;
    --card-foreground: 209 100% 10%;
    --popover: 209 100% 96%;
    --popover-foreground: 209 100% 10%;
    --primary: 227 96% 64%;
    --primary-foreground: 209 100% 98%;
    --secondary: 209 50% 80%;
    --secondary-foreground: 209 100% 10%;
    --muted: 209 50% 85%;
    --muted-foreground: 209 50% 40%;
    --accent: 209 50% 80%;
    --accent-foreground: 209 100% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 209 100% 98%;
    --border: 209 50% 75%;
    --input: 209 50% 75%;
    --ring: 227 96% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 23%;
    --foreground: 210 10% 98%;
    --card: 210 10% 20%;
    --card-foreground: 210 10% 98%;
    --popover: 210 10% 20%;
    --popover-foreground: 210 10% 98%;
    --primary: 227 96% 64%;
    --primary-foreground: 210 10% 98%;
    --secondary: 210 10% 30%;
    --secondary-foreground: 210 10% 98%;
    --muted: 210 10% 30%;
    --muted-foreground: 210 10% 60%;
    --accent: 210 10% 30%;
    --accent-foreground: 210 10% 98%;
    --destructive: 0 62% 50%;
    --destructive-foreground: 210 10% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 227 96% 64%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
